body{
    
    background-color: rgb(187, 244, 224);
    /* background-image: url("image/photo.jpeg");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50px 20px;
    border-image: auto;
    background-size: 200px; */
    font-size: 20px;
    
}
/* div{
    position:relative;
} */
img{
    height: 200px;
    border-radius: 50%;
    margin-left: 70px;
    /* width: 50px; */
}
a{
    text-decoration: none;
    /* color: rgb(11, 11, 11); */
    
}

